@import 'variables'

::-webkit-scrollbar
  visible none

html
  background-color $material-blue
  font-family 'Fira Sans', sans-serif
  font-weight 500
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100%
  min-width 100%
  width 100vw
body
  height 100%
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

@import 'greeting'
@import 'navbar'
@import 'question'
@import 'quote'
@import 'selection'
@import 'smh'
