.smh
  &-Navbar
    height 100%
    min-height 100%
    max-height 100%
    max-width 100%
    min-width 100%
    width 100%

    &-List
      -webkit-align-items center
      -webkit-flex-basis 100%
      -webkit-flex-flow row rowrap
      -webkit-justify-content space-around
      align-items center
      background-color $material-yellow
      display -webkit-flex
      display flex
      height 100%
      flex-basis 100%
      flex-flow row nowrap
      justify-content space-around
      min-height 100%
      max-height 100%
      max-width 100%
      min-width 100%
      width 100%
    &-ListItem
      background-color $material-orange
      border solid 1px $material-red
