.smh
  &-Question
    background-color $material-green
    height 20%
    max-height 25%
    max-width 100%
    min-height 20%
    min-width 100%
    width 100%

    &-banner
      height 30%
      max-height 100%
      max-width 90%
      min-height 30%
      min-width 90%
      padding 5% 5%

      > h1
        font-size 2rem
        font-style italic
        font-weight 400
