.smh
  &-Quote
    -webkit-align-content center
    -webkit-align-items center
    -webkit-flex-flow column nowrap
    -webkit-justify-content center
    align-content center
    align-items center
    background-color $material-green
    display -webkit-flex
    display flex
    flex-flow column nowrap
    height 70%
    justify-content center
    max-height 75%
    max-width 100%
    min-height 70%
    min-width 100%

    &-content
      -webkit-align-self center
      -webkit-flex-flow column nowrap
      -webkit-justify-content space-around
      align-self center
      display -webkit-flex
      display flex
      flex-flow column nowrap
      height 50%
      justify-content space-around
      line-height 1.5
      max-height 100%
      max-width 10%
      min-height 50%
      min-width 90%
      padding 5% 5%
      width 90%
      word-wrap break-word

      > p
        font-style italic
        padding 2.5%
        text-align left
      > span
        padding 2.5%
        text-align right
