.smh
  &-Selection
    height 70%
    max-height 75%
    max-width 100%
    min-height 70%
    min-width 100%
    width 100%

    &-Image
      height 95%
      max-height 95%
      max-width 75%
      min-height 95%
      min-width 75%
      width 75%

    &-List
      -webkit-align-content center
      -webkit-align-items center
      -webkit-flex-basis 33%
      -webkit-flex-flow row wrap
      -webkit-justify-content space-around
      align-content center
      align-items center
      background-color $material-green
      display -webkit-flex
      display flex
      flex-basis 33%
      flex-flow row wrap
      height 100%
      justify-content space-around
      max-height 100%
      max-width 100%
      min-height 100%
      min-width 100%

      &-emoji
        height 65px
        max-height 65px
        max-width 65px
        min-height 65px
        min-width 65px
        width 65px
    &-ListItem
      -webkit-align-self center
      -webkit-justify-content center
      align-self center
      background-color $material-red
      display -webkit-flex
      display flex
      justify-content center
      min-width 33%
      vertical-align middle
