.smh
  &-container
    -webkit-flex-basis 100%
    -webkit-flex-flow column nowrap
    -webkit-justify-content flex-start
    display -webkit-flex
    display flex
    height 100%
    flex-basis 100%
    flex-flow column nowrap
    justify-content flex-start
    min-height 100%
    min-width 100%
    max-width 100%
    width 100%
  &-Content
    height 90%
    max-height 90%
    max-width 100%
    min-height 90%
    min-width 100%
    width 100%
  &-Header
    -webkit-flex-basis 100%
    display -webkit-flex
    display flex
    flex-basis 100%
    height 10%
    min-height 10%
    max-height 10%
    min-width 100%
    width 100%
  &-Home
    -webkit-flex-basis 100%
    -webkit-flex-flow column nowrap
    -webkit-justify-content space-around
    display -webkit-flex
    display flex
    flex-basis 100%
    flex-flow column nowrap
    height 100%
    justify-content space-around
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
