extends ../layout

block content
  #smh-dev.smh-container
    .smh-Header
      nav.smh-Navbar
        ul.smh-Navbar-List
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Menu
          li.smh-Navbar-ListItem
            h1.smh-Title
              | SMH
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Icon
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | mHealth
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | PHealth
    .smh-Content
      .smh-Home
        .smh-Question
          .smh-Question-banner
            h1
              | Where is the pain?
        .smh-Selection
          .smh-Selection-Image
            img(src='/assets/img/body.svg' alt='Body silhouette for picking pain points')
