extends ../layout

block content
  #smh-dev.smh-container
    .smh-Header
      nav.smh-Navbar
        ul.smh-Navbar-List
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Menu
          li.smh-Navbar-ListItem
            h1.smh-Title
              | SMH
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Icon
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | mHealth
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | PHealth
    .smh-Content
      .smh-Home
        .smh-Question
          .smh-Question-banner
            h1
              | How are you feeling?
        .smh-Selection
          .smh-Selection-List
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the Sad emoji for current state').shh-Selection-List-emoji
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the No-mouth emoji for current state').shh-Selection-List-emoji
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the smiling emoji for current state').shh-Selection-List-emoji
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the Sad emoji for current state').shh-Selection-List-emoji
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the No-mouth emoji for current state').shh-Selection-List-emoji
            li.smh-Selection-ListItem
              a
                img(src='/assets/img/emoji/1f636.svg' alt='Select the smiling emoji for current state').shh-Selection-List-emoji
