extends layout

block content
  #smh-dev.smh-container
    .smh-Header
      nav.smh-Navbar
        ul.smh-Navbar-List
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Menu
          li.smh-Navbar-ListItem
            h1.smh-Title
              | SMH
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | Icon
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | mHealth
          li.smh-Navbar-ListItem
            span.smh-Navbar-text
              | PHealth
    .smh-Content
      .smh-Home
        .smh-Greeting
          .smh-Greeting-title
            h1
              | Hello, Demo
        .smh-Quote
          .smh-Quote-content
            p
              |  "Momma Told me I'm her brightest star /
              |  Momma told me don't hate on no law /
              |  Because everybody got a jawb /
              |  Because everybody wants to be a star."
            span
              | - Jeffrey Williams
